<div class="container mt-5">
  <div class="d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center mt-100">
      <h1>URL Shortener</h1>
    </div>
    <div class="d-flex justify-content-center">
      <img src="https://icon-library.com/images/link-icon/link-icon-3.jpg" alt="" style="width: 250px;">
    </div>
    <form action="/" method="POST">
      <div class="d-flex justify-content-center">
        <input type="text" class="form-control form-control-sm" placeholder="URL input here" name="url" id="url"
          required style="max-width: 300px; height: 42px;">
        <button class="btn btn-primary ml-3" style="width: 80px; height: 42px;">Shrink</button>
      </div>
    </form>



    <div class="d-flex justify-content-center mt-2">
      {{#if invalidUrl}}
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>{{invalidUrl}}</strong>
      </div>
      {{/if}}
      {{#if shortUrl}}
      <input id="copyText" style="width: 300px; height: 42px;" value="{{shortUrl}}"></input>
      <button id="copyButton" class="btn btn-warning ml-3" style="width: 80px; height: 42px;"> Copy </button>
      {{/if}}
    </div>
  </div>
</div>

<script>
  const copyText = document.getElementById('copyText')
  const copyButton = document.getElementById('copyButton')
  copyButton.addEventListener('click', function (event) {
    copyText.focus()
    copyText.select()
    document.execCommand("copy")
    alert(`已成功複製` + copyText.value)
  })
</script>